@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import 'scss/variables.scss';
@import 'scss/main.scss';
@import 'scss/number.scss';
@import 'scss/dropdown';
@import 'scss/nav';

.user-input {
    position: absolute;
    bottom: 30px;
    left: 30px;

    input[type=text] {
        font-size: 30px;
        border-radius: 0;
        padding: 9px 10px;
        border: none;
        background-color: #FFF;
        font-weight: $bold;
    
        &:focus {
            outline: none;
        }

        &:placeholder {
            color: #C3C3C3;
        }
    }
    
    input[type=submit] {
        font-size: 30px;
        padding: 9px 10px;
        background-color: $primary;
        color: #FFF;
        border: none;
        font-weight: $bold;

        &:focus {
            outline: none;
        }
    
        &:hover {
            cursor: pointer;
            background-color: $primaryHover;
        }
    }
}